
html {
  -webkit-text-size-adjust: 100%;
  background: #220011;
  font-family: helvetica;
  font-size: 16px;
  color: #eee;
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.module {
  // color: #ffaa00;
  padding: 15px 10px 25px;
  margin-bottom: 20px;
  background: tomato;
  min-height: 200px !important;
  position: relative;
}

.dark .module {
  background: #aa0066;
  background: slateblue;
}

.left-set .module {
  background: #aa0066;
}

.banner {
  background: #dd2266;
  padding: 20px 0px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;

  &.footer {
    margin-bottom: 0;
    background: slateblue;
  }
}

.token {
  $r: 50px;

  position: absolute;
  bottom: 6px;
  right: 6px;
  z-index: 100;
  background: #ffaa00;
  width: $r;
  height: $r;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #000;
  text-align: center;
  line-height: $r;
  font-weight: bold;

  &:after {
    $d: 2px;
    content: '';
    position: absolute;
    left: -$d;
    right: -$d;
    top: -$d;
    bottom: -$d;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: $d*2 dotted #ffaa00;
  }
}

$color-a: #66aa66;
$color-b: #dd2266;

.wave-module {
  background: $color-a;
  min-height: 100px;
  line-height: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: #ffffaa;
  text-shadow: 1px 1px 2px black;
}

.cb-col:nth-child(2n) .wave-module {
  background: $color-b;
}

.cb-row:nth-child(2n) {
  .wave-module {
    background: $color-b;
  }

  .cb-col:nth-child(2n) .wave-module {
    background: $color-a;
  }
}

.example-nav {
  background: #aa0066;
  padding-top: 20px;
  margin-bottom: 20px;
}

.example-button {
  font-weight: bold;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #ffaa00;
  // color: #ffaa00;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 2px 4px 21px 0px rgba(20,0,0,0.45);
  -moz-box-shadow: 2px 4px 21px 0px rgba(20,0,0,0.45);
  box-shadow: 2px 4px 21px 0px rgba(20,0,0,0.45);

  &:hover {
    cursor: pointer;
    background: #ffaa00;
    color: #000;
  }
}

.nav-buttons {
  padding-bottom: 20px;
}

.chess-cell > span {
  display: block;
  padding: 10px;
  color: #fda;
}

.terminal {
  background: tomato;
  margin-bottom: 20px;
  min-height: 60px;
}

.two-up .terminal {
  background: slateblue;
}

.three-up .terminal {
  background: tomato;
}

.small.terminal {
  background: #aa0066;
}