
html {
  -webkit-text-size-adjust: 100%;
  background: #220011;
  font-family: helvetica;
  font-size: 16px;
  color: #eee;
}

h2 {
  font-weight: bold;
}

.module {
  padding: 15px 10px 25px;
  margin-bottom: 20px;
  background: tomato;
  min-height: 200px !important;
  position: relative;
}

.left-set .module {
  background: #dd33aa;
}

.banner {
  background: #dd2266;
  margin-bottom: 20px;
  padding: 20px 0px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;

  &.footer {
    margin-bottom: 0;
    background: slateblue;
  }
}

.token {
  $r: 50px;

  position: absolute;
  bottom: 6px;
  right: 6px;
  z-index: 100;
  background: #ffaa00;
  width: $r;
  height: $r;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #000;
  text-align: center;
  line-height: $r;
  font-weight: bold;

  &:after {
    $d: 2px;
    content: '';
    position: absolute;
    left: -$d;
    right: -$d;
    top: -$d;
    bottom: -$d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: $d*2 dotted #ffaa00;
  }
}

$color-a: #66aa66;
$color-b: #aa6666;

.wave-module {
  background: $color-a;
  min-height: 100px;
  line-height: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: #ffffaa;
  text-shadow: 1px 1px 2px black;
}

.cb-col:nth-child(2n) .wave-module {
  background: $color-b;
}

.cb-row:nth-child(2n) {
  .wave-module {
    background: $color-b;
  }

  .cb-col:nth-child(2n) .wave-module {
    background: $color-a;
  }
}

.example-nav {
  background: #aa0066;
  padding: 10px 0;
}
